In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("iot_sensor_grid.csv")
df.head()

,name,serial_number,unit,min_val,max_val,fs,lon,lat,ip_address,port
0,wind_speed_0,968daad6fe4349bcb171b60d1f367ffe,m/s,0,5.0,10.000,19.891715,50.107402,localhost,51983
1,temperature_0,401133b3546a4f4a91eb4e1120c421be,C,-30,40.0,1000.000,20.162249,50.036321,localhost,51984
2,atmospheric_pressure_0,9865f84b4cf14605a44b1c16e2fb3f6e,hpa,965,1045.0,100.000,19.868392,50.033730,localhost,51985
3,wind_speed_1,2694f265df8046f68ba408f334979abe,m/s,0,5.0,0.001,20.173626,50.089142,localhost,51986
4,humidity_0,f4421c09015b4ed4980ff221a6789b6e,%,0,100.0,1.000,20.126452,50.015599,localhost,51987

In [12]:
def extract_unique_names(name):
    return name.str.extract(r'(\w+)_\d+')

set(extract_unique_names(df.name).values.reshape((100, )).tolist())

{'atmospheric_pressure', 'humidity', 'luminosity', 'temperature', 'wind_speed'}